/* Estilos generales para el contenedor principal */
body {
  background-color: #bead9a;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Estilos para los elementos del formulario */
.form-element {
  flex: 1;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para los campos de entrada de texto */
.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

/* Estilos para los botones */
button {
  background-color: #37a32e;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #37a32e;
}

/* Media query para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
  .form-element {
    flex: 1;
    width: 90%;
  }

  .input-field {
    font-size: 12px;
  }

  button {
    padding: 10px 18px;
  }

  /* Otras reglas CSS específicas para pantallas pequeñas */
}

/* Media query para pantallas de 601px a 1024px de ancho */
@media (min-width: 601px) and (max-width: 1024px) {
  .form-element {
    flex: 1;
    width: 70%;
  }

  .input-field {
    font-size: 14px;
  }

  button {
    padding: 11px 19px;
  }

  /* Otras reglas CSS específicas para pantallas medianas */
}

/* Media query para pantallas de 1025px de ancho en adelante */
@media (min-width: 1025px) {
  .form-element {
    flex: 1;
    width: 60%;
  }

  .input-field {
    font-size: 16px;
  }

  button {
    padding: 14px 22px;
  }

  /* Otras reglas CSS específicas para pantallas grandes */
}
