.container {
  margin-top: 100px;
  max-width: 600px; /* Aumentamos el ancho máximo */
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  color: #000000; /* Cambiamos el color del texto a oscuro */
  border-radius: 0; /* Eliminamos el borde redondeado */
  text-align: left; /* Alineamos el texto a la izquierda */
}

.form-group {
  margin-bottom: 20px;
}

.signup-logo {
  width: 100px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  font-size: 16px;
  border: 1px solid #000000; /* Cambiamos el color del borde a oscuro */
  border-radius: 4px;
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  color: #000000; /* Cambiamos el color del texto a oscuro */
}

.password-input-container {
  display: flex;
  align-items: center;
}

.eye-button {
  background: none;
  border: none;
  color: #000000; /* Cambiamos el color del icono a oscuro */
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.btn-submit {
  background-color: #37a32e; /* Cambiamos el color de fondo a verde */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #37a32e; /* Cambiamos el color de fondo al mismo verde en el hover */
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 300px;
  }

  .input-field {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 600px;
  }
}
