.crud-container {
  background-color: #638191; /* Cambiamos el color de fondo a claro */
  color: #000000; /* Cambiamos el color del texto a oscuro */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 0; /* Eliminamos el borde redondeado */
}

.crud-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #000000; /* Cambiamos el color del encabezado a oscuro */
}

.container-crud {
  background-color: #638191; /* Cambiamos el color de fondo a claro */
  display: flex;
  justify-content: flex-start; /* Alineamos los botones a la izquierda */
  margin-bottom: 20px;
  border-radius: 0; /* Eliminamos el borde redondeado */
}

.container-crud button {
  background-color: #37a32e;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: 10px;
  text-align: center;
}

.container-crud button:hover {
  background-color: #37a32e;
}

.form-container {
  display: flex;
  flex-direction: column;
  color: #000000; /* Cambiamos el color del texto a oscuro */
}

.form-container label {
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000000; /* Cambiamos el color del borde a oscuro */
  border-radius: 8px;
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  color: #000000; /* Cambiamos el color del texto a oscuro */
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: flex-start; /* Alineamos los botones a la izquierda */
  margin-top: 20px;
}

.button-group button {
  background-color: #37a32e;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-right: 10px; /* Añadimos margen derecho para separar los botones */
  text-align: center;
}

.button-group button:last-child {
  margin-right: 0; /* Eliminamos el margen derecho del último botón */
}

.button-group button:hover {
  background-color: #d93232;
}

.form-container-crud {
  background-color: #638191; /* Cambiamos el color de fondo a claro */
  border-radius: 0; /* Eliminamos el borde redondeado */
  padding: 20px;
  margin-bottom: 20px;
  color: #000000; /* Cambiamos el color del texto a oscuro */
}

.form-container-crud label {
  margin-bottom: 10px;
  color: #000000; /* Cambiamos el color del texto a oscuro */
}

.form-container-crud input[type="text"],
.form-container-crud input[type="email"],
.form-container-crud input[type="password"],
.form-container-crud select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000000; /* Cambiamos el color del borde a oscuro */
  border-radius: 8px;
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  color: #000000; /* Cambiamos el color del texto a oscuro */
  box-sizing: border-box;
}

/* TablaEstilos.css */

.mi-tabla-estilizada {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.mi-tabla-estilizada th,
.mi-tabla-estilizada td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.mi-tabla-estilizada th {
  background-color: #37a32e;
  color: #ffffff; /* Cambiamos el color del texto del encabezado a oscuro */
}
