/* styles/FormularioTicket.css */

.container {
    max-width: 500px; /* Ajusta el ancho máximo del contenedor */
    margin: 0 auto;
    padding: 40px; /* Añade espacio interno alrededor del contenedor */
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
  }
  
  .container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #2a2a2a;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del campo de entrada */
  }
  
  select {
    margin-bottom: 20px;
  }
  
  span {
    color: #ff4646;
    font-size: 14px;
    margin-top: 5px;
    display: block;
  }
  
  .btn-submit-ticket {
    background-color: #ff4646;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit-ticket:hover {
    background-color: #d93232;
  }
      