body {
  background-color: #bead9a; /* Cambiamos el color de fondo a claro */
  color: #000000; /* Cambiamos el color del texto a oscuro */
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  text-align: center;
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  padding: 40px;
  border-radius: 0; /* Eliminamos el borde redondeado */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.login-logo {
  width: 100px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.input-field-login {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #000000; /* Cambiamos el color del borde a oscuro */
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  color: #000000; /* Cambiamos el color del texto a oscuro */
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

/* Estilos para el captcha */
.g-recaptcha {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  max-width: 304px;
}

.login-button {
  background-color: #21641b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  width: 760px;
  font-size: 14px;
}
.create-account-button {
  background-color: #21641b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  width: 720px;
  font-size: 14px;
}

.login-button:hover,
.create-account-button:hover {
  background-color: #0a3306;
}

.g-recaptcha {
  min-height: 78px;
}

.g-recaptcha {
  z-index: 9999;
  .login-button {
    margin-top: 20px;
  }
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Media query para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
  .login-box {
    width: 90%;
  }

  .input-field-login,
  .login-button,
  .create-account-button {
    font-size: 12px;
  }

  /* Otras reglas CSS específicas para pantallas pequeñas */
}

/* Media query para pantallas de 601px a 1024px de ancho */
@media (min-width: 601px) and (max-width: 1024px) {
  .login-box {
    width: 70%;
  }

  .input-field-login,
  .login-button,
  .create-account-button {
    font-size: 14px;
  }

  /* Otras reglas CSS específicas para pantallas medianas */
}

/* Media query para pantallas de 1025px de ancho en adelante */
@media (min-width: 1025px) {
  .login-box {
    width: 50%;
  }

  .input-field-login,
  .login-button,
  .create-account-button {
    font-size: 16px;
  }

  /* Otras reglas CSS específicas para pantallas grandes */
}
