/* Estilos generales para el contenedor principal */
.container-tickets {
  display: flex;
  background-color: #bead9a;
  border-radius: 10px;
  padding: 20px;
}

/* Estilos para el contenedor del contenido principal y formulario */
.content-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

/* Estilos para el contenido principal */
.main-content {
  flex: 1;
  background-color: #627d92;
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
}

/* Estilos para el contenedor del formulario */
.form-container {
  width: 35%;
  background-color: #627d92;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para la barra de búsqueda */
.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #37a32e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para la lista de turnos */
.turno-list {
  list-style: none;
  padding: 0;
}

.turno-list li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el contenedor de detalles del turno */
.details-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para los botones en el contenedor de acciones */
.actions-container button {
  margin-right: 10px;
  background-color: #37a32e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions-container button:last-child {
  margin-right: 0;
}

/* Estilos para el formulario de registro de nuevo turno */
.form-container button {
  margin-top: 10px;
  background-color: #37a32e;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Media query para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
  .content-container {
    flex-direction: column;
  }

  .main-content,
  .form-container {
    width: 100%;
    margin-right: 0;
  }

  /* Otras reglas CSS específicas para pantallas pequeñas */
}

/* Media query para pantallas de 601px a 1024px de ancho */
@media (min-width: 601px) and (max-width: 1024px) {
  .container-tickets {
    padding: 10px;
  }

  /* Otras reglas CSS específicas para pantallas medianas */
}

/* Media query para pantallas de 1025px de ancho en adelante */
@media (min-width: 1025px) {
  .container-tickets {
    padding: 20px;
  }

  /* Otras reglas CSS específicas para pantallas grandes */
}
