/* Estilos generales para el contenedor principal */
.container-tickets {
  display: flex;
  background-color: #bead9a; /* Cambiamos el color de fondo a claro */
  border-radius: 10px;
  padding: 20px;
}

/* Estilos para el contenedor del contenido principal y formulario */
.content-container {
  display: flex;
  width: 100%;
  padding: 10px;
}

/* Estilos para el contenido principal */
.main-content {
  flex: 1;
  background-color: #627d92; /* Cambiamos el color de fondo a claro */
  padding: 20px;
  border-radius: 5px;
  margin-right: 20px;
}

/* Estilos para el contenedor del formulario */
.form-container {
  width: 35%;
  background-color: #627d92; /* Cambiamos el color de fondo a claro */
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para la barra de búsqueda */
.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #37a32e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para la lista de turnos */
.turno-list {
  list-style: none;
  padding: 0;
}

.turno-list li {
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el contenedor de detalles del turno */
.details-container {
  background-color: #ffffff; /* Cambiamos el color de fondo a claro */
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para los botones en el contenedor de acciones */
.actions-container button {
  margin-right: 10px;
  background-color: #37a32e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions-container button:last-child {
  margin-right: 0;
}

/* Estilos para el formulario de registro de nuevo turno */
.form-container button {
  margin-top: 10px;
  background-color: #37a32e;
  color: white;
  border: none;
  border-radius: 5px;
}
